{{- $profile := .defaults.profile -}}
{{- if hasKey . "profile" -}}
{{- $profile = .profile -}}
{{- end -}}
{{- $profileDefaults := index .defaults $profile -}}
{{- if not $profileDefaults -}}
{{- $profile = .defaults.profile -}}
{{- $profileDefaults = index .defaults $profile -}}
{{- end -}}
{{- $gui := index $profileDefaults "gui" -}}
{{- $docker := index $profileDefaults "docker" -}}
{{- $yazi := index $profileDefaults "yazi" -}}
{{- if hasKey . "features" -}}
{{- if hasKey .features "gui" -}}
{{- $gui = index .features "gui" -}}
{{- end -}}
{{- if hasKey .features "docker" -}}
{{- $docker = index .features "docker" -}}
{{- end -}}
{{- if hasKey .features "yazi" -}}
{{- $yazi = index .features "yazi" -}}
{{- end -}}
{{- end -}}
{{- if not $gui }}
.config/ghostty/**
{{- end }}
{{- if not $docker }}
.config/lazydocker/**
{{- end }}
{{- if not $yazi }}
.config/yazi/**
{{- end }}
